fastapi
uvicorn[standard]
python-dotenv

# Database
sqlalchemy
aiosqlite
asyncpg

# Auth / Security
passlib[bcrypt]
PyJWT
python-jose[cryptography]
bcrypt==4.0.1

# Validation / schemas
pydantic
email-validator

# Rate limiting
slowapi
limits

# Email service (you are using SendGrid)
resend

# External APIs
openai

# Utilities
python-multipart
requests
